In [200]:
import pandas as pd
import numpy as np

In [201]:
df = pd.read_excel("temp_lab.xlsx")

In [202]:
df.head()

    DGN  PRE4  PRE5  PRE6 PRE11 PRE14 PRE25 Risk1Yr
0  DGN2  2.88  2.16  PRZ1     T  OC12     F       F
1  DGN3  3.40     ?  PRZ0     F  OC12     ?       F
2  DGN3  3.68  3.04  PRZ0     F  OC11     F       F
3  DGN3  1.56  3.28     ?     F  OC12     F       T
4  DGN3  2.56  2.32  PRZ0     F     ?     F       F

In [203]:
df = df.replace("?", np.nan)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 8 columns):
DGN        17 non-null object
PRE4       19 non-null float64
PRE5       16 non-null float64
PRE6       16 non-null object
PRE11      19 non-null object
PRE14      17 non-null object
PRE25      17 non-null object
Risk1Yr    19 non-null object
dtypes: float64(2), object(6)
memory usage: 1.3+ KB

In [205]:
df['PRE5'].dtype

dtype('float64')

In [206]:
col_list = df.columns

In [207]:
col_list
not_float_list = []

In [208]:
for col in col_list:
    if df[col].dtype != 'float64':
        not_float_list.append(col)

In [209]:
not_float_list

['DGN', 'PRE6', 'PRE11', 'PRE14', 'PRE25', 'Risk1Yr']

In [210]:
from sklearn.preprocessing import OneHotEncoder

In [211]:
encoder = OneHotEncoder()

In [212]:
for col in not_float_list:
    df[col], df_catagories = df[col].factorize()
    df[col] = df[col].replace(-1, np.nan)

In [213]:
df['DGN']

0     0.0
1     1.0
2     1.0
3     1.0
4     1.0
5     NaN
6     1.0
7     0.0
8     0.0
9     2.0
10    3.0
11    NaN
12    4.0
13    1.0
14    1.0
15    3.0
16    1.0
17    0.0
18    1.0
Name: DGN, dtype: float64

In [214]:
df

    DGN  PRE4   PRE5  PRE6  PRE11  PRE14  PRE25  Risk1Yr
0   0.0  2.88   2.16   0.0      0    0.0    0.0        0
1   1.0  3.40    NaN   1.0      1    0.0    NaN        0
2   1.0  3.68   3.04   1.0      1    1.0    0.0        0
3   1.0  1.56   3.28   NaN      1    0.0    0.0        1
4   1.0  2.56   2.32   1.0      1    NaN    0.0        0
5   NaN  4.28   4.44   0.0      1    0.0    0.0        0
6   1.0  3.00   2.36   0.0      0    1.0    0.0        0
7   0.0  2.21   1.88   1.0      1    0.0    0.0        0
8   0.0  2.96   1.67   NaN      1    0.0    NaN        0
9   2.0  3.32    NaN   1.0      1    0.0    0.0        0
10  3.0  4.56  72.80   1.0      1    NaN    0.0        0
11  NaN  3.24   3.08   0.0      1    1.0    0.0        0
12  4.0  3.96   3.28   NaN      1    1.0    0.0        0
13  1.0  3.24   2.40   0.0      1    2.0    0.0        1
14  1.0  4.44   3.48   0.0      1    0.0    0.0        0
15  3.0  2.48    NaN   0.0      1    0.0    0.0        0
16  1.0  1.81   1.40   0.0      1    0.0    0.0        0
17  0.0  2.76   2.20   0.0      1    1.0    0.0        0
18  1.0  2.36   1.60   1.0      1    1.0    0.0        0

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier